<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="style.css" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="js/bootstrap.min.js"></script>
</head>

<body>
	<div class="header-wrapper">
		<div class="center">
			<div class="header">
				<div class="logo">
					<img src="images/logo.jpg">
				</div>
				<nav class="navbar navbar-inverse">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>                        
							</button>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">
							<ul class="nav navbar-nav navbar-right">
								<li class="active"><a href="#">HOME</a></li>
								<li><a href="#">BLOG</a></li>
								<li><a href="#">CONTACT</a></li>
								<li><a href="#"><img class="search-icon" src="images/search.png"></a></li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<img class="menu-user" aria-expanded="true" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" src="images/profile-menu.png"/>
									<span class="caret"></span>
									</a>
							<ul class="dropdown-menu">
								<li><a href="#">My Profile</a></li><br>
								<li><a href="#">New Posts</a></li><br>
								<li><a href="#">Logout</a></li>
							</ul>
							</li>
							</ul>
						</div>
					</div>
				</nav>					
			</div>
		</div>
	</div>
    <!-------------------------------------------------for new post section ------------------------->
    <div class="row profile-bg-wrapper">
					<div class="container">
						<div class="test0 col-sm-12">New Post</div>
                        <div class="right-button">
                    	 <button class="left-button1" type="button">Deal</button> 
                    	<button class="right-button2" type="button2">Article</button> 
                    	</div>					
					</div>
                  	<div class="row">
							<div class="col-sm-3 left-side-width">
								
							</div>
							<div class="container">
								<div class="panel panel-default">
										<div class="row">
											<div class="container4">
													<h3 class="article-submission">Article Submission Hints</h3>      
														<div class="row">
															<div class="col-sm-12">
																<p class="simple">Here's some useful information to provide your submission:</p>
																<ol class="test1">
                                                                  <li>Write a creative title that sums up what the article is about. Keep it factual and opinion-free. You can post your opinion in the comments section.
</li>
                                                                  <li> While it is optional, it may be a good idea to write a brief summary of the article in your own words.</li>
                                                                   <li>Make sure the article is relevant to our site. Use common sense. Here's some some examples: interesting news, new technologies,breakthrough studies, knowledge that helps improve our life and health, healthy recipes, eco-friendly living, etc.</li>
                                                                    <li>Please make sure to read the article in depth and make sure it's not a article written by a satire website.</li>
                                                                     <li>If you post a link to a study, make sure it's not a hypothesis and that it offers valuable insight</li>
                                                                      <li>Keep it appropriate. Use common sense and avoid explicit and non-relevant content.</li>
                                                                       <li>Make sure to link to the original source of content. Link to the direct url, not the index of a blog or website.</li>
                                                                        <li>Use proper grammar when including text</li>
                                                                  <li>Don't submit spammy links that may contain malware, ad spam, product sales and otherwise low quality content and user experience</li>
                                                                </ol> 
															
															</div>
														</div>
											</div>
										</div>
								
								<div class="row">
									<div class="container3">
										<h3 class="article-submission">Title</h3>
										<input class="title1" type="text" name="text" />
									</div>
									<div class="container5">
										<h3 class="article-submission">Text(optional):</h3>
										<input class="text-optional" type="text" name="text" />
									</div>
									<div class="container3">
										<h3 class="article-submission">Article link:<span>Source of the article.</span></h3>
										<input class="title1" type="text" name="text" />
									</div>
									<div class="container5">
										<h3 class="article-submission">Images:<span>Drag and drop images (maximum of 3, square images will look best) below</span></h3>
										<img class="image1" src="images/drag-n-drop.jpg" />
                                        
									</div>
                                    <div class="container3">
										<p class="test3"><a>A moderator will review this post. Please make sure you follow the rules and the hints above.</a></p>
									</div>
                                    <div class="container3">
										<input class="button7" type="button" name="btn" value="SUBMIT" />
									</div>
								</div>
                                
							</div>
						</div>
					</div>
                    
	</div>
	<!-------------------------------------------------for new footer ------------------------->
    <div class="row footer">
										<div class="container"> <center class="copyright-text">&#xA9; Copyright Organics.org<center>
										</div>
									</div>	
        
</body>
</html>
