.thumbnail-image {
  height:67px;
  width: 138px;
}
.xbox-image {
  height:330px;
  width: 209px;
}

.comment-form {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.replyform{
  display: none;
}

.likecou{
  margin-top: 8px;
  margin-left: 6px;
}

.li-btn{
  margin-top: 8px;
}
